{% extends 'base.html.twig' %}


{% block title %}Suppression d'une catégorie{% endblock %}



{% block body %}

    <div class="flex justify-between">
        <h1 class="max-w-lg text-3xl font-semibold leading-normal text-gray-900 dark:text-white">Suppression de la catégorie : <span class="max-w-lg text-3xl font-semibold leading-normal text-blue-500 dark:text-white">{{category.name}}</span></h1>
    </div>

    <div class="flex flex-col pt-4">
        <div>
            <form action="" method="POST" >
                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom de la catégorie</label>
                <input type="text" value="{{category.name}}" id="category" name="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Votre catégorie" required></br>
                <button type="submit" name='update' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Supprimer</button>
            </form>
        </div>
    </div>


{% endblock %}