{% extends 'base.html.twig' %}


{% block title %}Contacts{% endblock %}



{% block body %}
    <h1 class="max-w-lg text-3xl font-semibold leading-normal text-gray-900 dark:text-white">Contacts</h1>

{% endblock %}