{% extends 'base.html.twig' %}


{% block title %}Ajout d'un article{% endblock %}



{% block body %}

    <div class="flex justify-between">
        <h1 class="max-w-lg text-3xl font-semibold leading-normal text-gray-900 dark:text-white">Ajout d'un article</h1>
    </div>

    <div class="flex flex-col pt-4">
        <div>
            <form action="" method="POST" >
                <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom l'article</label>
                <input type="text" id="title" name="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Titre" required></br>
                <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contenu de l'article</label>
                <textarea id="content" name='content' rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ecrivez votre article ici ..."></textarea>
                <div class="flex items-center mb-4">
                    <input id="publish" name="publish" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="publish" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Publier mon article</label>
                </div>
                <button type="submit" name='ajout' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Valider</button>
            </form>
        </div>
    </div>


{% endblock %}