{% extends 'base.html.twig' %}


{% block title %}Lecture d'article{% endblock %}



{% block body %}

    <div class="flex justify-between">
        <h1 class="max-w-lg text-3xl font-semibold leading-normal text-gray-900 dark:text-white">Lecture de l'article : <span class="max-w-lg text-3xl font-semibold leading-normal text-blue-500 dark:text-white">{{post.title}}</span></h1>
    </div>
    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
        <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
    
    </svg> {{ post.viewTimes }}
    <div class="flex flex-col pt-4">
        <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">{{post.content}}</p>
    </div>
    <a href="{{path('like_article', {id: post.id})}}">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"></path>
        </svg> {{ post.liked }}
    </a>


{% endblock %}